@model IList<Mosaic.DTO.ToDoItemDTO>

@{

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <input type="text" value="dfsdf" />
    <p><button onclick="">Add task</button> </p>
</div>
@{ foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <input type="checkbox" />
            </div>
            <div class="col-md-4">
                @Html.Label(item.Name)
            </div>
            <div class="col-md-4">
                <button onclick="alert('dfsdfsd');">Remove</button>
            </div>
        </div>
    }
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/todolist.js")"></script>
}
